[submodule "pisa/external/FastPFor"]
	path = pisa/external/FastPFor
	url = https://github.com/lemire/FastPFor.git
[submodule "pisa/external/CMake-codecov"]
	path = pisa/external/CMake-codecov
	url = https://github.com/RWTH-HPC/CMake-codecov.git
[submodule "pisa/external/streamvbyte"]
	path = pisa/external/streamvbyte
	url = https://github.com/lemire/streamvbyte
[submodule "pisa/external/MaskedVByte"]
	path = pisa/external/MaskedVByte
	url = https://github.com/lemire/MaskedVByte
[submodule "pisa/external/QMX"]
	path = pisa/external/QMX
	url = https://github.com/amallia/QMX.git
[submodule "pisa/external/simdcomp"]
	path = pisa/external/simdcomp
	url = https://github.com/lemire/simdcomp.git
[submodule "pisa/external/CLI11"]
	path = pisa/external/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "pisa/external/parallelstl"]
	path = pisa/external/parallelstl
	url = https://github.com/intel/parallelstl.git
[submodule "pisa/external/tbb"]
	path = pisa/external/tbb
	url = https://github.com/01org/tbb.git
[submodule "pisa/external/mio"]
	path = pisa/external/mio
	url = https://github.com/mandreyel/mio.git
[submodule "pisa/external/GSL"]
	path = pisa/external/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "pisa/external/gumbo-parser"]
	path = pisa/external/gumbo-parser
	url = https://github.com/google/gumbo-parser.git
[submodule "pisa/external/Catch2"]
	path = pisa/external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "pisa/external/boost-cmake"]
	path = pisa/external/boost-cmake
	url = https://github.com/Orphis/boost-cmake.git
[submodule "pisa/external/Porter2"]
	path = pisa/external/Porter2
	url = https://github.com/pisa-engine/Porter2.git
[submodule "pisa/external/warcpp"]
	path = pisa/external/warcpp
	url = https://github.com/pisa-engine/warcpp.git
[submodule "pisa/external/spdlog"]
	path = pisa/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "pisa/external/fmt"]
	path = pisa/external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "pisa/external/range-v3"]
	path = pisa/external/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "pisa/external/trecpp"]
	path = pisa/external/trecpp
	url = https://github.com/pisa-engine/trecpp.git
[submodule "pisa/external/KrovetzStemmer"]
	path = pisa/external/KrovetzStemmer
	url = https://github.com/pisa-engine/KrovetzStemmer.git
[submodule "pisa/external/wapopp"]
	path = pisa/external/wapopp
	url = https://github.com/pisa-engine/wapopp.git
[submodule "pisa/external/rapidcheck"]
	path = pisa/external/rapidcheck
	url = https://github.com/emil-e/rapidcheck.git
[submodule "pisa/external/taily"]
	path = pisa/external/taily
	url = https://github.com/pisa-engine/taily.git
[submodule "pisa/external/benchmark"]
	path = pisa/external/benchmark
	url = https://github.com/google/benchmark.git
[submodule "pisa/external/oneTBB"]
	path = pisa/external/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
